/*#########################################################################
#
#   name :       Core.CSS
#   desc :       Central CSS style for Normal channel
#   categorie :  CSS Style
#   ID :  	 $Id: style.channel.instance.css 5177 2010-07-26 17:42:06Z cl $
#
#   copyright:   See licence.txt for this script licence
#########################################################################*/

/******** IMAGES DU WORKSPACE ***********/
.ContextBox .title 			{ background-color: rgb(78, 78, 152); }
.ContextBox .body 			{ background-color: rgba(78, 78, 152,0.8); }
.ContextBox .foot 			{ background-color: rgba(78, 78, 152,0.8); }
.ZBox .header	 			{ background-color: rgba(78, 78, 152,0.2); }
.ZBox .header .title			{ background-color: rgba(78, 78, 152,0.8); }
.ZBox .footer				{ background-color: rgba(78, 78, 152,0.15);}
.ZBox .blockTable .subtitre th,
.ZBox .blockTable .subtitre .celluleH	{background-color: rgba(78, 78, 152,0.7); }


/******** BACKGROUND DE COULEUR FONCE ***********/
.ZBox .footer a:hover,
.ZBox .footer input[type="submit"]:hover,
.ZBox .footer input[type="reset"]:hover,
.ZBox .footer select:hover,
.ZBox .footer .selected,
.ZBox .blockTable .titre th,
#MenuSubBar,
a.bouton,
.ContextBox input[type=button],
.ContextBox input[type=submit],
.ContextBox input[type=reset],
#tags li a:hover,
#ScanSearchCode:hover {
    background-color: #4e4e98;
}
/******** BORDURE DE COULEUR FONCE ***********/
.ZBox .body .block fieldset {
    border-color: #4e4e98;
}
/******** TEXTE DE COULEUR FONCE ***********/
#ZWFooter a:hover,
body,
a,
a.bouton:hover,
#PortletPageDesc h1,
.ZBox .footer a:hover,
.ZBox .body input[type="text"],
.ZBox .body input[type="file"],
.ZBox .body textarea,
.ZBox .body select,
.ZBox .footer a,
.ZBox .footer input[type="submit"],
.ZBox .footer input[type="reset"],
.ZBox .body .block fieldset legend,
#ScanSearchCode,
#PageTitle h1,
#NavBar li,
.ContextBox input[type=button]:hover,
.ContextBox input[type=submit]:hover,
.ContextBox input[type=reset]:hover {
    color: #4e4e98;
}
.prototip .content {
    color: #4e4e98 !important;
}

/******** BACKGROUND DE COULEUR CLAIRE ***********/
.ZBox .footer a,
.ZBox .footer input[type="submit"],
.ZBox .footer input[type="reset"],
.ZBox .body input[type="text"],
.ZBox .body input[type="file"],
.ZBox .body textarea,
.ZBox .body select,
#PageTitle,
a.bouton:hover,
.ContextBox input[type=button]:hover,
.ContextBox input[type=submit]:hover,
.ContextBox input[type=reset]:hover {
    background-color: #e7e7ff;
}
/******** BORDURE DE COULEUR CLAIRE ***********/
.ZBox .body,
.ZBox .blockTable .titre th.barre {
    border-color: #e7e7ff;
}
/******** TEXTE DE COULEUR CLAIRE ***********/
#ZWFooter a,
.ZBox .footer a:hover,
.ZBox .footer input[type="submit"]:hover,
.ZBox .footer input[type="reset"]:hover,
#ScanSearchCode:hover {
    color: #e7e7ff;
}